<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']  text-black h-screen w-full">

      <nav class="pt-10 px-5 tracking-tighter flex justify-between w-full items-center ">
        <h1 class="text-3xl ml-5">Cart.</h1>
        <div class="right flex gap-20 mr-20">
            <div class="first flex gap-5">
                <a class= "text-lg" href="">Home</a>
                <a class= "text-lg" href="/user/shop">Products</a>
            </div>
            <div class="second flex gap-5">
                <a class="text-lg" href="/user/cart">Cart <% if(cart>0){ %>
                                (<%=cart%>)
               <% } %> </a> 
                <a class="text-lg" href="">My account</a>
                <a class="text-lg" href="/user/logout">logout</a>
            </div>
        </div>
      </nav>
      <div class="line w-full h-0.5 bg-stone-500 mt-2"></div>
      
      <div class="container flex w-full  justify-center gap-20 ">
    
      <div class="products w-2/5   mt-9 mr-10 ml-10 border-2 border-stone-300 rounded">
        <% products.forEach(function(product){ %>
             <div  class="basis-48 bg-white h-20 min-w-48 min-h-32 relative flex justify-around mb-5  rounded-md border-b-2">
               <a href="/product/<%=product._id%>" class="image h-5/6 w-1/6 relative px-2 mt-2 ">
                 <img class=" w-full h-full object-cover  " src="/images/uploads/<%= product.image %>" alt="">
               </a>
              <p class="hidden product_id"><%=product._id%></p>
            <div class="image h-3/2 w-4/6 relative self-center p-2 flex justify-around bg-black rounded-md items-center">
             
                <a href="/product/<%=product._id%>">
                 <h1 class="text-xl text-white"><%=product.name%></h1>
                 <h1 class="text-lg text-white ">&#2547 <span><%=product.price%></span></h1>
                </a>
                 
                <div class="volume bg-white relative rounded-3xl w-1/6 h-1/2 flex justify-between px-2 items-center">
                <button class=" minus font-bold text-2xl mb-1 w-1/3 ">-</button> <button class="value font-bold text-xl w-1/3 quantity"><%=volume[product._id]%></button><button class="plus font-bold text-xl w-1/3">+</button>
                </div>
                
                <h1 class="text-md text-white ">&#2547 <span><%=volume[product._id]*product.discount%></span> OFF</h1>

                <a href=""><i class="ri-delete-bin-2-fill text-white text-2xl"></i> </a>

                <h1 class="discountpp hidden ">&#2547 <span><%=product.discount%></span></h1>

            </div>
        </div>

       <% })%>
      
   </div>
   <div class="details mt-20 mr-32 flex flex-col ">
          <h1 class="text-3xl tracking-tighter mb-5 ">Price Breakdown</h1>
          <div class="flex items-center  w-96 mb-5">
           <div class="flex flex-col w-56 ml-2 text-lg">
              <h1 class="">Total Items</h1>
               <h1 class="">Total MRP</h1>
                <h1 class="">Discount on MRP</h1>
                <h1 class="">Shipping Fee</h1>
                <h1 class="">Platform Fee</h1>
           </div>
           <div class="flex flex-col w-36 text-lg">
            <h1 class=""><span class="text-sm"></span> <span class="ttlitem"><%=cart%></span></h1>
            <h1 class=""><span class="text-sm">&#2547 </span> <span class="ttlprice"><%=totalprice%></span> </h1>
            <h1 class=""><span class="text-sm">&#2547 </span> <span class="ttldiscount"><%=totaldiscount%></span></h1>
            <h1 class=""><span class="text-sm">&#2547 </span><span class="ttlshipping"><%= Math.ceil( totalshipping)%></span> </h1>
            <h1 class=""><span class="text-sm">&#2547 </span><span class="ttlplatform"><%=Math.ceil(totalplatform)%></span> </h1>
           </div>
          </div>

         <div class="bg-stone-400 w-96 h-[2px] mb-5"></div>

         <div class="text-3xl flex  mb-5 tracking-tighter">
            <h1 class="w-56">Total Fee</h1>
            <h1 class=" ml-2"><span class="text-lg">&#2547 </span><span class="totalfee"><%= totalprice +Math.ceil( totalshipping) + Math.ceil(totalplatform) - totaldiscount%></span> </h1>
         </div>
         <h1 class="py-2 px-4 bg-black text-white text-xl rounded text-center checkout cursor-pointer">Place Order</h1>

        </div>

   </div>  

 <script src="/javascripts/cart.js" ></script>
</body>
</html>