<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']  text-black h-screen w-full">

      <nav class="pt-10 px-5 tracking-tighter flex justify-between w-full items-center ">
        <h1 class="text-3xl ml-5">Admin Panel.</h1>
        <div class="right flex gap-20 mr-20">
            <div class="first flex gap-5">
                <a class= "text-lg" href="">Home</a>
                <a class= "text-lg" href="">Products</a>
            </div>
            <div class="second flex gap-5">
                <a class="text-lg" href="">My account</a>
            </div>
        </div>
      </nav>
      <div class="line w-full h-0.5 bg-stone-500 mt-2"></div>
      
      <div class="container flex w-full h-5/6">
        <div class="sidebar w-1/6 h-5/6  mt-4 ml-5 pt-5 px-5 flex flex-col items-start justify-between " >
            <div class="portion flex flex-col items-start gap-10 ">
                <div class="">
                    <a class=" text-lg block text-stone-600" href="">All Products</a>
                    <a  class=" text-lg block text-stone-600" href="/owner/new/product">Create New Product</a>
                </div>
            </div>  
            <div>
                <a class=" text-lg block text-stone-600" href="/owner/logout">logout</a>
            </div>
      </div>


      <div class="products w-5/6 h-5/6  mt-9 mr-10 flex flex-wrap gap-10">
         <% products.forEach(function(product){ %>
              <div class="basis-48 bg-[<%=product.bgcolor%>] h-1/2 min-w-48 relative flex flex-col justify-between rounded-md">
                <a href="/product/<%=product._id%>"  class="image h-4/6 w-4/6 relative px-2 py-2 ">
                  <img class=" h-full w-full  object-cover ml-8 " src="/images/uploads/<%= product.image %>" alt="">
                </a>
             <div class="image h-2/6 w-full relative p-2 flex justify-between items-center bg-[<%=product.panelcolor%>] rounded-md">
                <a href="/product/<%=product._id%>" >
                  <h1 class="text-xl text-[<%= product.textcolor%>]"><%=product.name%></h1>
                  <h1 class="text-lg text-[<%= product.textcolor%>] ">&#2547 <%=product.price%></h1>
                </a>
                <div  class=" px-3 rounded-3xl flex h-full justify-between  flex-col items-center">
                  <a href="/product/edit/<%=product._id%>"  class=" text-lg text-[<%= product.textcolor%>] underline " id="<%=product._id%>" >Edit</a>
                  <a href="/product/delete/<%=product._id%>"  class=" text-lg text-black underline " id="<%=product._id%>" >Delete</a>
                </div>
                
             </div>
            </div>

        <% })%>
       

    </div>


</body>
</html>