<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']  text-black h-screen w-full">

      <nav class="pt-10 px-5 tracking-tighter flex justify-between w-full items-center ">
        <h1 class="text-3xl ml-5">Shop.</h1>
        <div class="right flex gap-20 mr-20">
            <div class="first flex gap-5">
                <a class= "text-lg" href="">Home</a>
                <a class= "text-lg" href="">Products</a>
            </div>
            <div class="second flex gap-5">
                <a class="text-lg" href="">Cart</a> 
                <a class="text-lg" href="">My account</a>
                <a class="text-lg" href="/user/logout">logout</a>
            </div>
        </div>
      </nav>
      <div class="line w-full h-0.5 bg-stone-500 mt-2"></div>
      
      <div class="container flex w-full h-5/6 gap-10">
        <div class="sidebar w-1/6 h-5/6  mt-4 ml-5 pt-5 px-5 flex flex-col items-start justify-between " >
            <div class="portion flex flex-col items-start gap-10 ">
                
                <div class="">
                    <a class="block text-lg text-stone-600" href="">New Collection</a>
                    <a class=" text-lg block text-stone-600" href="">All Products</a>
                    <a  class=" text-lg block text-stone-600" href="">Discounted Products</a>
                </div>
            </div>
            <div class="">
               <h1 class="text-xl">Request:</h1>
                <a class=" text-lg block text-stone-600" href="">Color</a>
                <a  class=" text-lg block text-stone-600" href="">Size</a>
            </div>  

      </div>
       <div class="w-full h-full flex  ">
        <div class="products w-80  h-4/6  mt-9 mr-10 flex flex-wrap gap-10 ">
            <div  class="basis-80 bg-[<%=product.bgcolor%>]  relative flex flex-col justify-between rounded-md">
              <a href="/product/<%=product._id%>" class="image h-5/6 w-4/6 relative px-2 py-2 ml-12 ">
                <img class=" h-full w-full  object-cover " src="/images/uploads/<%= product.image %>" alt="">
              </a>

           <div class="image h-2/6 w-full relative p-2 flex justify-between items-center bg-[<%=product.panelcolor%>] rounded-md">
            
               <a href="/product/<%=product._id%>">
                <h1 class="text-xl text-[<%= product.textcolor%>]"><%=product.name%></h1>
                <h1 class="text-lg text-[<%= product.textcolor%>] ">&#2547 <%=product.price%></h1>
               </a>

              <div class="volume bg-white px-2 rounded-3xl w-2/6">
                <button class=" minus font-bold text-2xl w-1/6">-</button> <button class="value font-bold text-xl ml-3">01</button><button class=" plus font-bold text-xl ml-4 w-1/6">+</button>
              </div>

           </div>
       </div>  
  </div>
        <div class="details mt-9 mr-10 flex flex-col ">
          <h1 class="text-2xl tracking-tighter mb-5 ">Price Breakdown</h1>
          <div class="flex items-center  w-96 mb-5">
           <div class="flex flex-col w-56 ml-2 text-lg">
               <h1 class="">Total MRP</h1>
                <h1 class="">Discount on MRP</h1>
                <h1 class="">Shipping Fee</h1>
                <h1 class="">Platform Fee</h1>
           </div>
           <div class="flex flex-col w-36 text-lg">
            <h1 class=""><span class="text-sm">&#2547</span> <%=product.price%> </h1>
            <h1 class=""><span class="text-sm">&#2547</span> <%=product.discount%> </h1>
            <h1 class=""><span class="text-sm">&#2547</span> <%= Math.ceil(product.price *.001)%> </h1>
            <h1 class=""><span class="text-sm">&#2547</span> <%=Math.ceil(product.price *.0001)%> </h1>
           </div>
          </div>

         <div class="bg-stone-400 w-96 h-[2px] mb-5"></div>

         <div class="text-2xl flex  mb-5 tracking-tighter">
            <h1 class="w-56">Total Fee</h1>
            <h1 class="ml-2"><span class="text-lg">&#2547 </span><%= product.price + Math.ceil(product.price *.0001) + Math.ceil(product.price *.001) - product.discount%></h1>
         </div>
         <a href="" class="py-2 px-4 bg-black text-white text-lg rounded text-center">Place Order</a>

        </div>
       </div>


  </div>
     
   <script src="/javascripts/product.js"></script>
</body>
</html>